@{ 
    var controller = (string)ViewContext.RouteData.Values["controller"];

    bool isAuthenticated = User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/img/favicon.png" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RepositorioDeConhecimento.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Conhecimento" asp-action="Index"><img src="~/img/logo.png" style="width:30px; height:30px" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (isAuthenticated)
                {
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Conhecimento" asp-action="Index">Repositório</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Categoria" asp-action="Index">Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Autor" asp-action="Index">Autores</a>
                            </li>
                        </ul>
                        <form method="get" class="d-flex" asp-controller="@controller" asp-action="Index">
                            <input name="searchTerm" class="form-control me-sm-2" type="text" placeholder="Buscar">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                    </div>
            }
            else
            {
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Usuario" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Usuario" asp-action="Registrar">Registrar</a>
                    </li>
                </ul>
            </div>
            }
            </div>
        </nav>
    </header>
    <div class="container">
        <aside>
            <partial name="_Messages" />
        </aside>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
