@model IEnumerable<CategoriaDTO>

@{
    ViewData["Title"] = "Categorias";
}

<div class="container-sm mt-4">

    <div class="row g-lg-3 text-center">
        <div class="col-lg-3">
            <h1>
                Categorias
            </h1>
        </div>
        <div class="offset-lg-4 col-lg-2 mb-2">
            <a class="btn btn-lg btn-danger" asp-action="Index" asp-controller="Conhecimento">Cancelar</a>
        </div>
        <div class="col-lg-2 mb-2">
            <a class="btn btn-lg btn-outline-primary text-nowrap" asp-action="GetCategoria">Nova Categoria</a>
        </div>

    </div>

    <hr />

    @if (Model.Any())
    {
        <div class="row g-lg-3 mt-4">
            <table class="table table-responsive-lg table-hover table-striped tabela-categorias">
                <thead>
                    <tr>
                        <th scope="col" class="fw-bold text-center">Nome</th>
                        <th scope="col" class="fw-bold text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CategoriaDTO conhecimento in Model)
                    {
                        <tr class="fs-6">
                            <td class="align-middle text-center">@conhecimento.Nome</td>
                            <td class="align-middle text-center">
                                <a class="btn btn-lg btn-outline-danger" asp-action="Delete" asp-route-id="@conhecimento.Id">
                                    Apagar
                                </a>
                                <a class="btn btn-lg btn-outline-primary" asp-action="GetCategoria" asp-route-id="@conhecimento.Id">
                                    Editar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Não existem Categorias cadastradas. <a class="btn btn-outline-primary" asp-action="GetCategoria">Cadastre sua primeira Categoria.</a></p>
    }
</div>